/*************************
 *  全局css，不要随意修改  *
 *************************/
body {
    background-color: #f6f6f5;
    margin: 0 auto;
}

.fixed-width {
    width: 1440px;
    margin: 0 auto
}

.responsive-img {
    width: 100%;
    height: auto;
}