/* 背景颜色 */
.bg-color-main {
    background-color: #f6f6f6;
}

.bg-color-white {
    background-color: white;
}

.bg-color-yellow {
    background-color: yellow;
}

/* 前景颜色 */
.color-grey {
    color: grey;
}

/* 阴影 */
.box-shadow-little {
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

