/* 背景颜色 */
.bg-color-main {
    background-color: #f6f6f6;
}

.bg-color-white {
    background-color: white;
}

/* 前景颜色 */
.color-grey {
    color: grey;
}

/* 阴影 */
.box-shadow-a {
    box-shadow: 0 0 10px #aaaaaa;
}

.box-shadow-b {
    box-shadow: 0 0 10px #bbbbbb;
}

.box-shadow-c {
    box-shadow: 0 0 10px #cccccc;
}

.box-shadow-d {
    box-shadow: 0 0 10px #dddddd;
}

.box-shadow-e {
    box-shadow: 0 0 10px #eeeeee;
}
