/* 背景颜色 */
.bg-color-main {
    background-color: #f6f6f6;
}

.bg-color-white {
    background-color: white;
}

.bg-color-yellow {
    background-color: yellow;
}

.bg-color-green {
    background-color: green;
}

.bg-transparent {
    background-color: rgba(255, 255, 255, 0);
}

/* 前景颜色 */
.color-grey {
    color: grey;
}

.color-plain {
    color: #77839c;
}

.color-hover {
    color: #40a9ff;
}

.color-black {
    color: black;
}

.color-text {
    color: #646464;
}

/* 阴影 */
.box-shadow-little {
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

