/* 对齐类 */
.m-0-auto {
    margin: 0 auto;
}

.mt-15px {
    margin-top: 15px;
}

.pb-18px {
    padding-bottom: 18px;
}

.p-0-auto {
    padding: 0 auto;
}

/* 长度类 */
.w-100 {
    width: 100%;
}

.w-1440px {
    width: 1440px;
}

.w-40px {
    width: 40px;
}

/* 高度类 */
.h-100 {
    height: 100%;
}

/* position */
.position-fixed {
    position: fixed;
}

/* 行高 */
.line-height-63px {
    line-height: 63px;
}