/* 对齐类 */
.m-0-auto {
    margin: 0 auto;
}

.ml-8px {
    margin-left: 8px;
}

.mt-8px {
    margin-top: 8px;
}

.mt-15px {
    margin-top: 15px;
}

.mt-62px {
    margin-top: 62px;
}

.mt-74px {
    margin-top: 74px;
}

.mt-80px {
    margin-top: 80px;
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-20px {
    margin-bottom: 20px;
}

.pl-12px {
    padding-left: 10px;
}

.p-16px-20px {
    padding: 16px 20px;
}

.pb-18px {
    padding-bottom: 18px;
}

.pl-8px {
     padding-left: 8px;
 }

.pt-8px {
    padding-top: 8px;
}

.pt-80px {
    padding-top: 80px;
}

.p-0-auto {
    padding: 0 auto;
}

/* 长度类 */
.w-100 {
    width: 100%;
}

.w-900px {
    width: 900px;
}

.w-1000px {
    width: 1000px;
}

.w-1100px {
    width: 1100px;
}

.w-1440px {
    width: 1440px;
}

.w-40px {
    width: 40px;
}

.w-42px {
    width: 42px;
}

.w-50px {
    width: 50px;
}

.w-52px {
    width: 52px;
}

/* 高度类 */
.h-100 {
    height: 100%;
}

.h-52px {
    height: 52px;
}

/* position */
.position-fixed {
    position: fixed;
}

.position-relative {
    position: relative;
}

.top-n7px {
    top: -7px;
}

/* 行高 */
.line-height-63px {
    line-height: 63px;
}

.line-height-51px {
    line-height: 51px;
}

.line-height-52px {
    line-height: 52px;
}