body {
    background-color: #f6f6f6;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont,
        Helvetica Neue, PingFang SC, Microsoft YaHei,
        Source Han Sans SC, Noto Sans CJK SC ,
        WenQuanYi Micro Hei, sans-serif;;
}

#root {
    height: 100%;
    width: 100%;
}
